.social-media-container {
    margin-right: 93px;
}

.social-media-container__title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-inverted);
}

.social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
