<section class="section">
    <div class="container">
        <h2 class="title">Постійні клієнти</h2>
        <ul class="clients">
            <li class="client">
                <a href="#" class="client__link"><svg class="client__icon" width="106" height="60">
                        <use href="./images/icons.svg#icon-Logo-ya-and-co">
                        </use></a>
            </li>
            <li class="client">
                <a href="#" class="client__link"><svg class="client__icon" width="106" height="60">
                        <use href="./images/icons.svg#icon-Logo-company-tagline-here">
                        </use></a>
            </li>
            <li class="client">
                <a href="#" class="client__link"><svg class="client__icon" width="106" height="60">
                        <use href="./images/icons.svg#icon-Logo-company">
                        </use></a>
            </li>
            <li class="client">

                <a href="#" class="client__link"><svg class="client__icon" width="106" height="60">
                        <use href="./images/icons.svg#icon-Logo-foster-peters">
                        </use></a>
            </li>
            <li class="client">
                <a href="#" class="client__link"><svg class="client__icon" width="106" height="60">
                        <use href="./images/icons.svg#icon-Logo-brand">
                        </use></a>
            </li>
            <li class="client">
                <a href="#" class="client__link"><svg class="client__icon" width="106" height="60">
                        <use href="./images/icons.svg#icon-Logo-company-tag-line">
                        </use></a>
            </li>
        </ul>
    </div>
</section>