<section class="section no-top-padding">
    <div class="container">
        <h2 class="title">Чим ми займаємося</h2>
        <ul class="what-we-do">
            <li class="what-we-do__item">
                <img src="./images/image1.jpg" alt="Десктопні додатки" width="370" />
                <p class="what-we-do__text">Десктопні додатки</p>
            </li>
            <li class="what-we-do__item">
                <img src="./images/image2.jpg" alt="Мобільні додатки" width="370" />
                <p class="what-we-do__text">Мобільні додатки</p>
            </li>
            <li class="what-we-do__item">
                <img src="./images/image3.jpg" alt="Дизайнерські рішення" width="370" />
                <p class="what-we-do__text">Дизайнерські рішення</p>
            </li>
        </ul>
    </div>
</section>