.close-button {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* color: black; */
    padding: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    background-color: var(--color-background);


&:focus {
    color: var(--color-brand);
}

&:focus-within .close-button__icon {
    fill: var(--color-brand);
}

&:hover {
    color: var(--color-brand);
}

&:hover .close-button__icon {
    fill: var(--color-brand);
}
}
.close-button__icon {
    fill: black
}