.title {
    color: var(--color-secondary);
    font-family: 'Roboto', inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}